@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Asap, sans-serif;
}
body {
  background-color: white;
}
.centerblock{
  margin: 30px auto;
  text-align: left;
  background-color: #f7f9f9;
  border: 5px;
  border-radius: 4px;
  height: 50%;
  width: 50%;
  padding-top: 40px;
  padding-left: 10px;
}
.wide{
  /* height: 80%; */
  width: 50%;
}
.autoHoehe{
  height: auto;
}
.innerbox{
  background-color: #ffffff;
  width:50%auto;
  height:50%auto;
}
.box{
  margin-top: 0px;
  background-color: #f7f9f9;
  text-align: center;
  position: relative;
}
.tabellenKopf{
  float: left;
  width: 15%;
  margin-right: 15px;
}

.main_img {
  background-image: url(../images/main.jpg);
  padding:20px;
}
.repeat {
  background-repeat: repeat-y;
}

.but{
  margin-top: 0px;
  background-color: #f7f9f9;
  text-align: center;
  height: 75px;
  position: relative;
  border: 1px solid black;
}
.mainfooter{

  margin-top: 49%;
  background-color: #f7f9f9;
  text-align: center;
  height: 100px;
  position: relative;
  border: 1px solid black;
  padding-top: 10px;

}
.footer{
  display: inline-block;
  margin: 20px;
  width: 200px;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  border: 1px solid #008744;
  background: #eeffff;
  border-radius: 4px;

}

.buttonHome{
  float: left;
  width: 200px;
  height: 73px;
  background: #b4f391;
  background-color: #008744; /* Blue background */
  border:1px;
  border-color: #eee;
  border-radius: 4px;
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  color: white;
  margin-top: 0px;
}
a{
  text-decoration: none;
  color: black;
}

select, textarea, input[type="text"], input[type=email] {
  height: 50px;
  width: 98.5%;
  background: #eeffff;
  border-radius: 4px;
  border-color: #000;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  color: black;
  font-size: 14px;

}
input[type="date"]{
  padding: 0px;
  margin: 0px;
  height: 50px;
  width: 49% ;
  font-size: 30px;
  background: #eeffff;
  border-radius: 4px;
  border-color: #000;
  cursor: pointer; /* Mouse pointer on hover */
  color: black;
  font-size: 14px;

}
input[type="submit"]{
  margin-top: 20px;
  width: 20%;
  height: 40px;
  background: #b4f391;
  background-color: #008744; /* Blue background */
  border-color: #eee;
  border-radius: 4px;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  color: white;
}
label{

  padding: 4px;
}

/*---*/
/* Zentriert den äußeren div der Form auf der Seite */
/*---*/
.impressum{
  margin-left: 30px;
  width: 95%;
  background-color: #f7f9f9;
  border: 5px;
  border-color: 000;
}

/* .tabellenKopf{
padding-top: 10px;
}
.tabellenKopfBild{
margin-top: 30px;
} */
.carsList{

}

.carType{
  /* padding-left: 20px;
  padding-right:15px; */
  /* margin-left: 20px; */

  font-size: 17px;
  margin-right:30px;
  width: 90px;
  height: 50px;
  /* border: 1px solid #c3c3c3; */

  display: inline-block;


}
.picture{
  /* margin-top: 50px; */
}

.auswahlButton{
  padding-left: 50% auto;
  background: #b4f391;
  background-color: #008744; /* Blue background */
  border: 1px solid #c3c3c3;
  border-radius: 4px;
}
.after-box {
  /* clear: left; */
}
